.pokemonlist {
    display: flex;
    flex-direction: column;

    &-list {
        padding: 0;
        margin-top: 1rem;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;

        &-item {
            display: grid;
            grid-template-columns: 1.5fr 0.5fr;
            justify-items: center;
            align-items: center;
            text-transform: capitalize;
            text-decoration: none;
            color: $slate-900;
            background-color: white;
            border-color: $slate-900;
            border-width: 2px;
            border-style: solid;
            border-radius: 25px;
            height: 5rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            font-weight: bold;

            &:hover {
                background-color: $green;
                transform: scale(0.98);
            }

            &-svg {
                width: 20px;
                height: 20px;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    &-buttons {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-button {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            width: 100px;
            color: $slate-900;
            font-weight: bold;
            background-color: transparent;
            border-color: $slate-900;
            border-radius: 100px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                border-color: transparent;
                background-color: $yellow;
                transform: scale(0.98);
            }
            
            &:disabled {
                border-color: $slate-900;
                background-color: white;
                cursor: not-allowed;
                color: $red;
                text-decoration: line-through $red;

                &:hover {
                    border-color: $slate-900;
                    background-color: white;
                    transform: scale(1);
                }
            }
        }

        @media ( min-width: $screen-lg ) {
            justify-content: center;

            &-button {
                &:first-child {
                    margin-right: 0.5rem;
                }
                &:last-child {
                    margin-left: 0.5rem;
                }
            }
        }
    }
}