// Colors
$red: #ef4444;
$yellow: #facc15;
$yellow-2: #ca8a04;
$green: #10b981;
$blue: #0ea5e9;
$stone: #78716c;
$brown: #854d0e;
$purple: #a855f7;
$slate-900: #0f172a;
$slate-800: #1e293b;
$slate-700: #334155;
$neutral: #e5e5e5;

// Screens
$screen-sm: '640px';
// => @media (min-width: 640px) { ... }
$screen-md: '768px';
// => @media (min-width: 768px) { ... }
$screen-lg: '1024px';
// => @media (min-width: 1024px) { ... }
$screen-xl: '1280px';
// => @media (min-width: 1280px) { ... }
$screen-2xl: '1536px';
// => @media (min-width: 1536px) { ... }
$screen-3xl: '2000px';
// => @media (min-width: 1580px) { ... }